body {
  background-color: #0B0C10;
  color: wheat;
}

.app {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: #0B0C10;
  color: wheat;
}

.level-selector {
  display: flex;
  align-items: center;
}

.question-area {
  max-width: 1000px;
}

.questions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.question-box {
  background-color: #20222b;
  color: #8FA413;
  width: 25%;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  text-transform: capitalize;
}

.question-buttons {
  display: flex;
  flex-direction: row;
}

.question-button{
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
  color: wheat;
}

button:disabled {
  background-color: darkgrey;
  color: darkolivegreen;
}

select {
  margin: 5px;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
  color: wheat;
}

select:target {
  background: red;
}

p.correct, p.wrong {
  font-size: 18px;
  color: green;
  font-weight: bold;
}

p.wrong {
  color: red;
}
